html
    head
        link(rel="stylesheet", href="style.css")
        ttle Exemplo
    body
        div(class='container')
            div(class='group')
                label Item 1
            div(class='group')
                label Item 2
            div(class='group')
                label Item 3